@import "tailwindcss";

:root {
  --bg-color: #0a0a0a; 
  --text-main: #ffffff;
}

body {
  margin: 0;
  background-color: #0a0a0a; 
  color: #ffffff;
  overflow-x: hidden;
}

.bg-glow {
  background: radial-gradient(circle at center, rgba(74, 246, 38, 0.05) 0%, rgba(10, 10, 10, 0) 70%);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
#root {
  max-width: none;
  text-align: left;
}


.nav-link-animated {
  position: relative;
  text-decoration: none;
}

.nav-link-animated::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0); 
  height: 2px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(90deg, #007cf0, #00dfd8); 
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link-animated::after {
  background: #4af626;
}

.nav-link-animated:hover::after {
  transform: scaleX(1); 
  transform-origin: bottom left;
}

.nav-link-animated.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link-animated.active {
  color: white;
}